<!--
Names: Ron Nguyen, Jack (Zhenhuai) Zeng
Date: 1/5/2023
URL: https://github.com/ronnguyen1011/cupcakes
Description: This program contains a form for a cupcake fundraiser. The program will show the options and total price
that the user selected
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cupcake</title>
</head>
<body>
<h1>Cupcake Fundraiser</h1>
<form method = "post" action = "/process/">
    {% csrf_token %}
    {{form.as_p}}
    <p>Cupcake flavors</p>
    <input type = 'checkbox' name = 'flavor[]' value = "The Grasshopper"> The Grasshopper  <br>
    <input type = 'checkbox' name = 'flavor[]' value = "Whiskey Maple Bacon"> Whiskey Maple Bacon <br>
    <input type = 'checkbox' name = 'flavor[]' value = "Carrot Walnut"> Carrot Walnut <br>
    <input type = 'checkbox' name = 'flavor[]' value = "Salted Caramel Cupcake"> Salted Caramel Cupcake <br>
    <input type = 'checkbox' name = 'flavor[]' value = "Red Velvet"> Red Velvet <br>
    <input type = 'checkbox' name = 'flavor[]' value = "Lemon Drop"> Lemon Drop <br>
    <input type = 'checkbox' name = 'flavor[]' value = "Tiramisu"> Tiramisu <br> <br>
    <input type = 'submit' name = "system" value = "Order">
</form>


</body>
</html>