<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cupcakes</title>
</head>
<body>
    <p>
       Your name: {{system}} 
    </p>
    <p>
        Your cupcake flavors: 
        {% for i in flavors %}
            {% if forloop.last %}
                {{i}}.
            {% else %}
                {{i}},
            {% endif %}    
        {% endfor %}
    </p>
    <p>
        Order total: ${{total}}
    </p>    
</body>
</html>